* {
  margin: 0;
  padding: 0;
}

:root {
  --dk-font-color: #1698AC;
  --lt-font-color: #ffffff;
}

body {
  font-family: Laila;
  padding: 50px;
  background-image: url(../img/Прототип.png);
  
}

.fl {
  display: flex;
  align-items: center;
}

.header {
  justify-content: space-between;
  padding-bottom: 182px;
}

.logo-box,
.nav-box {
  flex: 1;
}

.nav-list {
  list-style: none;
  gap: 15px;}

.logo-text,
.nav-link {
  color: var(--lt-font-color);
  text-decoration: none;
  font-size: 30px;
  white-space:nowrap;
}

.logo-text {
  font-weight: 600;
  font-size: 40px;
  position: relative;
  left: -40px;
}

.nav-item {
  border: 2px solid var(--dk-font-color);
  border-radius: 20px;
  padding: 2px 28px;
  flex: 1;
  text-align: center;
}

.nav-item:hover {
  border: 2px solid var(--lt-font-color);
  background-color: var(--dk-font-color);
}

.nav-link {}



@font-face {
  font-family: Laila;
  src: url(../font/Laila-Bold.ttf);
}

@media (max-width: 768px) {
  .nav-link {
    font-size: 5px;
  }
  .header{
    flex-direction: column;
    gap: 10px;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .nav-link {
    font-size: 15px;
  }
}


@media (min-width: 1024px) and (max-width: 1400px) {
  .nav-link {
    font-size: 25px;
  }
}


@media (min-width: 1400px){
  .nav-link {
    font-size: 35px;
  }
}



.fl-main{
  display:flex;
 
}
.col{
  flex:1;
}
.autor-name{
  font-size: 70px;
  font-family: Laila;
  color: #1698AC;
  font-weight: 600;
}

.auton-about{
  font-family: Laila;
  font-size: 50px;
  color:#ffffff;
}

.auton-description{
  font-family: Laila;
  font-weight: 600;
  font-size: 28px;
  color: #FFFFFF;
  padding-bottom: 50px;
}

.active {
  font-size: 25px;
  color: #FFFFFF;
  font-family: Laila;
  text-decoration: none;
  border-radius: 15px;
  padding: 15px 53px;
  
}

.autor-link:hover{
background-color: #1698AC;
border: 1px solid white;

}



.autor-link {
  display: inline-block;
}

.autor-link-box{
  display: flex;
  gap: 40px;
  align-items: center;
}